@font-face {
  font-family: 'serv-icons';
  src: url('../../fonts/icons/servis-font/serv-icons.eot?68963627');
  src: url('../../fonts/icons/servis-font/serv-icons.eot?68963627#iefix') format('embedded-opentype'),
       url('../../fonts/icons/servis-font/serv-icons.woff2?68963627') format('woff2'),
       url('../../fonts/icons/servis-font/serv-icons.woff?68963627') format('woff'),
       url('../../fonts/icons/servis-font/serv-icons.ttf?68963627') format('truetype'),
       url('../../fonts/icons/servis-font/serv-icons.svg?68963627#serv-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'serv-icons';
    src: url('../font/serv-icons.svg?68963627#serv-icons') format('svg');
  }
}
*/
 
 [class^="serv-icon-"]:before, [class*=" serv-icon-"]:before {
  font-family: "serv-icons";
  font-style: normal;
  font-weight: normal;
  
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.serv-icon-wi-fi:before { content: '\e803'; } /* '' */
.serv-icon-computer-screen:before { content: '\e804'; } /* '' */
.serv-icon-virus:before { content: '\e805'; } /* '' */
.serv-icon-windows-8:before { content: '\e806'; } /* '' */
.serv-icon-web-interface:before { content: '\e807'; } /* '' */