@import "vars"  


/*==========  Desktop First  ==========*/

//Extra large: ≥1200px

@media (max-width: 1200px)
	.container
		width: 970px     
	
	.main_head
		padding-bottom: 150px
	.section_adv
		.container_adv
			.container_price
				.wrap_price
					padding: 40px 5%
					justify-self: center
					.wrap_price_form
						align-self: center
						width: 50%	 
						flex-direction: column
	
	.section_fix
		.container_fix
			padding: 10px 0 60px
			position: relative
			z-index: 3
			.wrap_fix
				justify-content: center
				flex-grow: 1
				.fix_title
					display: none
					flex-basis: 50%
					.wrap_fix_h4
						h4
							font-size: 60px
				.fix_offer
					justify-self: center
					.wrap_fix_offer
						.fix_ofer_title
							margin: 50px 0 20px
							justify-content: center
							font-size: 30px
							text-align: center
							color: #fff
						.wrap_fix_form
							flex-wrap: wrap
							padding: 0 55px
							justify-content: center
							.fix_description
								width: 100%
								border-radius: 5px
								height: 150px
								border: 2px #2c2f3e solid
								padding-left: 5px
								box-shadow: 0 0 15px 0 rgba(0,0,0,.25)
								color: #3b405b
								margin: 10px 0 10px 0
								font-family: AvenirNextW10-Demi
								font-size: 22px
								resize: none
							input 
								width: 100%
								margin: 10px 0 10px 0
							.fix_button_description
								width: 70%
								width: 340px
								height: 70px
								font-size: 22px
	//Large: ≥992px

	//============= Шапка ============
@media (max-width: 992px)		
	.container
		width: 750px		
	.section_menu
		position: fixed
		width: 100%  
		top: 0 
		right: 0 
		background: #fff
		z-index: 4
		.container_menu
			width: 100%
			.warp_content_menu
				.wrap_logo
					padding: 5px 15px
					.main_logo_descripton
						display: none
				.wrap_phones_menu
					padding: 5px 15px
					.wrap_phones
						justify-content: center
						.phone_button
							display: none
			.wrap_toggle_menu
				display: flex
				.line_toggle_menu
	.main_head 
		margin-top: 60px
	.section_serv
		padding: 150px 0 30px
		margin: 0
		.container_serv 
			padding: 20px 0 20px
			.wrap_h3	
				font-size: 60px
			.wrap_serv_items
				padding-top: 20px
				.wrap_item
					margin: 15px

	.section_adv
		.container_adv
			.container_price
				.wrap_price
					padding: 40px 5%
					justify-self: center
					.wrap_price_form
						align-self: center
						width: 70%	 
						flex-direction: column
//Medium: ≥768px
@media (max-width: 768px)
	
	.container
		width: 100%
	.wrap-header-button
		button
			min-height: 0
			div
				padding: 15px 0
				font-size: 25px
				min-height: 0px

	.section_menu
		position: fixed
		width: 100%     
		top: 0 
		right: 0 
		z-index: 5
		background: #fff
		.container_menu
			.warp_content_menu
				padding-top: 5px 0
				.wrap_logo
					font-size: 20px
					.logo 
						.main_logo
							font-size: 25px

				.wrap_phones_menu
					.wrap_phones
						font-size: 18px
						.phones
							.operator
								.big
								b
									font-size: 20px

	.main_head 
		margin-top: 60px
		padding: 110px 0 100px 0
		.container_main_head 
			.main-row-head 
				.wrap-header-text 
					.head-main-text 
						line-height: 50px
						h1   
							font-size: 63px
							.appersand
								font-size: 30px
								bottom: 5px
								font-family: $font-book

	.section_adv
		padding: 10px 0 30px 0
		margin: 0
		background-color: #2c2f3e
		text-align: center
		justify-content: center
		color: #fff
		.container_adv
			width: $container_lg
			align-content: center
			flex-direction: column
			.container_price
				.price_title
					font-size: 55px
				.wrap_price
					padding: 10px 0 20px
					justify-self: center
					.price_item
						font-size: 18px
					.wrap_price_form
						align-self: center
						width: 90%	 
						flex-direction: column
			.title_adv		
				.container
					justify-content: center
					padding: 0 0 30px 0
					h2
						font-size: 55px
						line-height: 50px
			.wrap_adv
				.border_adv
					.container
						padding-bottom: 10px
						.item_adv
							padding: 5px 0 10px 0
							width: 100%
							position: relative
							&:before
								content: ''
								display: flex
								align-self: center
								position: absolute
								width: 90% 
								height: 4px
								background: #9ca2be
								top: 100%
							&6:before
								content: ''
								display: none
	.section_serv
		padding: 20px 0 30px
		margin: 0
		.container_serv 
			padding: 20px 0 20px
			.wrap_h3	
				font-size: 60px
			.wrap_serv_items
				padding-top: 20px
				.wrap_item
					margin: 15px

	.section_footer
		display: none

//Small: ≥576px
@media (max-width: 576px)

	.section_modal_phone
		.container_modal_phone
			#modalMain
				position: relative
				width: 100%  
				margin-top: 20%
				#phoneOrder
					padding: 15px 
					#phoneOrderName
						padding: 0 0 10px 0
						font-size: 30px	
					input
						height: 40px
						width: 100%
						margin: 5px 0 5px 0
						font-family: $font-demi
						font-size: 22px
					#phonePhone
					.button 
						width: 100%	
						height: 60px 
						margin-top: 10px
						font-size: 25px

	.wrap-header-button
		button
			width: 70%
			min-height: 0
			div
				padding: 15px 0
				font-size: 20px
				min-height: 0px

	.section_menu
		position: fixed
		width: 100%  
		top: 0 
		right: 0 
		background: #fff
		.container_menu
			.warp_content_menu
				.wrap_logo
					font-size: 18px
					.logo 
						.main_logo
							font-size: 25px
					.wrap_toggle_menu
						.toggle_mnu

				.wrap_phones_menu
					.wrap_phones
						font-size: 17px
						.phones
							.operator
								.big
									display: none
								b
									font-size: 17px
	.main_head 
		margin-top: 90px
		padding: 60px 0 100px 0 
		.container_main_head 
			.main-row-head 
				.wrap-header-text 
					padding: 0 0 20px 
					.head-main-text 
						line-height: 40px
						h1   
							text-shadow: #fff 2px 0px 2px, #fff 0px 2px 2px, #fff 0px -2px 2px, #fff -2px 0px 2px
							font-size: 45px 
							.appersand
								font-size: 25px
								bottom: 5px
								font-family: $font-book
				.master_coming
					p
						font-size: 20px	

	.section_adv
		padding: 10px 0 30px 0
		margin: 0 
		background-color: #2c2f3e
		text-align: center
		justify-content: center
		color: #fff
		.container_adv
			width: 95vw
			align-content: center
			flex-direction: column
			.container_price
				.price_title
					font-size: 35px
					line-height: 35px
				.wrap_price
					padding: 10px 0 20px
					justify-self: center
					.price_item
						font-size: 16px
					.wrap_price_form
						align-self: center
						width: 90%	 
						flex-direction: column
			.title_adv		
				.container
					justify-content: center
					padding: 0 0 30px 0
					h2
						font-size: 35px
						line-height: 35px
			.wrap_adv
				padding: 15px 
				.border_adv
					border: 3px #9ca2be solid
					.container
						padding-bottom: 10px
						.item_adv
							padding: 5px 0 10px 0
							width: 100% 
							position: relative
							&:before
								content: ''
								height: 2px
							.adv-icon
								padding-bottom: 5px
	// ================ services ===================

	.section_serv
		padding: 0px 0 30px
		margin: 0
		.container_serv 
			padding: 20px 0 20px
			.wrap_h3	
				font-size: 60px
			.wrap_serv_items
				.wrap_item
					margin: 10px


	.section_fix
		.container_fix
			padding: 10px 0 40px
			.wrap_fix
				.fix_title
					display: none
				.fix_offer
					justify-self: center
					flex-basis: 100%
					padding: 10px
					.wrap_fix_offer
						.fix_ofer_title
							margin: 30px 0 20px
							justify-content: center
							font-size: 25px
							text-align: center
							color: #fff
						.wrap_fix_form
							padding: 0 
							.fix_description
								height: 100px
								margin: 5px 0 5px 0
							input 
								width: 100%
								margin: 5px 0 5px 0
							.fix_button_description
								width: 100%
								height: 60px
 

//Extra small: >0
@media (max-width: 350px)

	.section_modal_phone
		.container_modal_phone
			#modalMain
				position: relative
				width: 100%  
				margin-top: 20%
				#phoneOrder
					padding: 15px 
					#phoneOrderName
						padding: 0 0 10px 0
						font-size: 25px	
					input
						height: 40px
						width: 100%
						margin: 5px 0 5px 0
						font-family: $font-demi
						font-size: 22px
					#phonePhone
					.button 
						width: 100%	
						height: 60px 
						margin-top: 10px
						font-size: 25px	
	.wrap-header-button
		button
			width: 75% 
			min-height: 0
			div
				padding: 15px 0 
				font-size: 20px

	.section_menu
		.container_menu
			.warp_content_menu
				.wrap_logo
					font-size: 18px
					.logo 
						.main_logo
							font-size: 25px
				.wrap_phones_menu
					.wrap_phones
						font-size: 14px
						.phones
							.operator
								b
									font-size: 15px
					.wrap_toggle_menu
						align-self: center
						.toggle_mnu
  
	.main_head 
		margin-top: 80px
		padding: 50px 0 70px 0
		.container_main_head 
			.main-row-head 
				.wrap-header-text 
					padding: 0 0 15px
					.head-main-text 
						line-height: 40px
						padding: 0 0 0
						h1    
							font-size: 35px 
							.appersand
								font-size: 20px
								bottom: 3px
								font-family: $font-book

	.section_adv
		padding: 30px 0 30px 0
		margin: 0 
		background-color: #2c2f3e
		text-align: center
		justify-content: center
		color: #fff
		.container_adv
			width: 95vw
			align-content: center
			flex-direction: column
			.title_adv		
				.container
					justify-content: center
					padding: 0 0 30px 0
					h2
						font-size: 34px
						line-height: 35px
			.wrap_adv
				padding: 15px 
				.border_adv
					border: 3px #9ca2be solid
					.container
						padding-bottom: 10px
						.item_adv
							padding: 0 5px 0 5px
							width: 100%
							&:before
								content: ''
								height: 2px
							.adv-icon
								padding-bottom: 5px
								.wrap_icon
									.icon
										width: 60px
										height: 60px
										border: 4px solid #9ca2be
										i
											font-size: 35px
							.advant-text
								font-size: 18px 

	.section_fix
		.container_fix
			padding: 10px 0 40px
			.wrap_fix
				.fix_title
					display: none
				.fix_offer
					justify-self: center
					flex-basis: 100%
					padding: 10px
					.wrap_fix_offer
						.fix_ofer_title
							margin: 30px 0 20px
							justify-content: center
							font-size: 22px
							text-align: center
							color: #fff
						.wrap_fix_form
							padding: 0 
							.fix_description
								height: 100px
								margin: 5px 0 5px 0
							input 
								width: 100%
								margin: 5px 0 5px 0
							.fix_button_description
								width: 100%
								height: 60px


	

/*==========  Mobile First  ==========*/


  

//Extra small: <576px
@media (min-width: 320px) 		
	/**/

	 
//Small: ≤576px
@media (min-width: 578px)
		/***/

//Medium: ≤768px
@media (min-width: 768px)
	/**/

//Large: ≤992px
@media (min-width: 992px)
	/**/



//Extra large: ≤1200px
@media (min-width: 1200px)
	//



